Repository SierraSystems/Oracle-Modernization, pull requests merged in 2020-10, with the labels that each got.

#46 fix footer style
  src/frontend/src/components/contacts/Contacts.js
  src/frontend/src/index.css
Labels: bug, enhancement

#49 Increment the id
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/ContactsServiceImpl.java
Labels: bug

#51 Add, edit and delete contact functionality and alerts on Frontend!
  src/frontend/src/components/add-contact/AddContact.js
  src/frontend/src/components/contacts/Contacts.js
  src/frontend/src/components/edit-contact/EditContact.js
Labels: enhancement, javascript

#54 Responsive design :)
  src/frontend/src/components/contacts/Contacts.css
  src/frontend/src/components/edit-contact/EditContact.css
  src/frontend/src/components/feedback/Feedback.css
Labels: enhancement, javascript

#64 Fix table styling (both mobile and desktop)
  src/frontend/src/components/contacts/Contacts.css
  src/frontend/src/components/contacts/Contacts.js
Labels: enhancement, front-end, javascript, label, react

#71 Create docker-compose.yaml
  keycloak/docker-compose.yaml
Labels: :100: prioritized, :bug: bug, :cloud: azure, :grey_question: question

#72 70 Move management api to Oracle Modernization group
  src/backend/management-api/pom.xml
Labels: :cloud: azure, java

#73 Add schema to orders
  src/oracle/sql/ot_schema.sql
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :bug: bug, :label: label, oracle, porkchopsandwiches, sql

#83 🤖 Transformers, frontend dependabots in disguise
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: dependencies, front-end

#84 🤖 Transformers, backend dependabots in disguise
  src/backend/management-api/pom.xml
Labels: dependencies

#86 Increment org.codehaus.mojo version
  src/backend/libs/justin-data-starter/pom.xml
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, dependencies, java

#87 add ignore files
  src/frontend/.gitignore
Labels: front-end

#88 use latest version for keycloak js
  src/frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/yarn.lock
Labels: dependencies, front-end

#90 Keycloak for backend
  src/backend/management-api/pom.xml
  src/backend/management-api/src/main/java/com/nttdata/managementapi/config/CorsConfig.java
  src/backend/management-api/src/main/java/com/nttdata/managementapi/config/KeycloakSecurityConfig.java
  src/backend/management-api/src/main/java/com/nttdata/managementapi/controller/ManagementApiDelegateImpl.java
  src/backend/management-api/src/main/resources/application.yml
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, keycloak, porkchopsandwiches

#100 Adding db functionality to quark 🖖🏽🖖🏽
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/Contacts.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/ContactsResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/GreetingResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkusmanagementapi/TestController.java
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, nice to have, oracle, porkchopsandwiches, sql

#103 Feature/quark refactoring
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/ContactsResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ContactsResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/dao/ContactsDao.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/api/Contact.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Contacts.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Countries.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Customers.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Employees.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Inventories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/InventoriesId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Locations.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItems.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItemsId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Orders.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/ProductCategories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Products.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Regions.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Warehouses.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/service/ContactsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/service/ContactsServiceImpl.java
  src/backend/quarkus-management-api/src/test/java/com/nttdata/quarkus/management/api/GreetingResourceTest.java
  src/backend/quarkus-management-api/src/test/java/com/nttdata/quarkus/management/api/NativeGreetingResourceIT.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, nice to have, oracle, porkchopsandwiches, sql

#104 Implement customer endpoint
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/CustomersResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/dao/CustomersDao.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/api/Customer.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/service/CustomersService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/service/CustomersServiceImpl.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, enhancement, java, nice to have, porkchopsandwiches, sql

#105 Update path
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ContactsResource.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :bug: bug, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, porkchopsandwiches

#106 Adding keycloak configs
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/CustomersResource.java
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, keycloak, porkchopsandwiches

#107 Turn keycloak off for now
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: :label: label

#109 Add transactional and mappings
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ManagementApiImpl.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :bug: bug, :label: label, QUARK! 🖖🏽, 🦆 Quarkus

#110 Adding customer to swagger and add implementation
  src/backend/quarkus-management-api/management-api.yaml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/CustomersResource.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ManagementApiImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/api/Contact.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/api/Customer.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, nice to have, porkchopsandwiches, sql, 🦆 Quarkus

#111 Adding logging
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ManagementApiImpl.java
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, nice to have, porkchopsandwiches, 🦆 Quarkus

#113 Update deployment.yml
  src/backend/management-api/deployment.yml
Labels: :bug: bug

#112 Split api
  src/backend/quarkus-management-api/management-api.yaml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/ContactsApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/controller/CustomersApiServiceImpl.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, porkchopsandwiches, 🦆 Quarkus

#114 Add customer info page
  src/frontend/src/components/add-contact/AddContact.js
  src/frontend/src/components/contacts/Contacts.js
  src/frontend/src/components/customers/Customers.js
  src/frontend/src/components/edit-contact/EditContact.js
  src/frontend/src/index.css
Labels: (⌐■_■)ノ＼(■_■ ), :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), enhancement, front-end, javascript, porkchopsandwiches, react

#118 Backend cleanup
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/ContactsDao.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/ContactsService.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/ContactsServiceImpl.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/InventoriesDao.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/InventoriesService.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/InventoriesServiceImpl.java
  src/backend/libs/justin-data-starter/src/main/java/com/nttdata/pocdata/hibernate/InventoriesProcedures.java
  src/backend/libs/oracle-data-starter/.gitignore
  src/backend/libs/oracle-data-starter/pom.xml
  src/backend/libs/oracle-data-starter/src/main/resources/oracle.properties.template
  src/backend/management-api/.gitignore
  src/backend/management-api/deployment.yml
  src/backend/management-api/management-api.yaml
  src/backend/management-api/pom.xml
  src/backend/management-api/src/main/java/com/nttdata/managementapi/ManagementApiApplication.java
  src/backend/management-api/src/main/java/com/nttdata/managementapi/config/KeycloakSecurityConfig.java
  src/backend/management-api/src/main/java/com/nttdata/managementapi/controller/ManagementApiDelegateImpl.java
  src/backend/management-api/src/main/java/com/nttdata/managementapi/controller/TestController.java
  src/backend/management-api/src/main/resources/application.yml
  src/backend/management-api/src/main/resources/logback.xml
  src/backend/pom.xml
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, QUARK! 🖖🏽, java, oracle, porkchopsandwiches, 🦆 Quarkus

#120 show customer name instead of customer id
  src/frontend/src/components/contacts/Contacts.js
Labels: enhancement, front-end

#121 Refactor and add db functionality
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactMapper.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Contacts.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Countries.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Customers.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Employees.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Inventories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/InventoriesId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Locations.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItems.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItemsId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Orders.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/ProductCategories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Products.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Regions.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Warehouses.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesServiceImpl.java
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, QUARK! 🖖🏽, java, oracle, porkchopsandwiches, sql, 🦆 Quarkus

#123 $$$$ Cache Money $$$$
  src/backend/libs/oracle-data-starter/pom.xml
  src/backend/quarkus-management-api/management-api.yaml
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactMapper.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountriesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/country/CountryMapper.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersApiServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/customer/CustomersServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/employee/EmployeesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/inventory/InventoriesServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/location/LocationsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Contacts.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Countries.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Customers.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Employees.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Inventories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/InventoriesId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Locations.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItems.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/OrderItemsId.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Orders.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/ProductCategories.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Products.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Regions.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/model/database/Warehouses.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/product/ProductsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/warehouse/WarehousesServiceImpl.java
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :100: prioritized, :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), QUARK! 🖖🏽, java, nice to have, oracle, porkchopsandwiches, sql, 🦆 Quarkus

#124 Micrometer
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/resources/application.properties
Labels: :cloud: azure, nice to have

#134 🤖 Transformers, frontend dependabots in disguise
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: (⌐■_■)ノ＼(■_■ ), MORE THAN MEETS THE EYE :robot:, dependencies, front-end

#140 Use latest shared-component styling
  src/frontend/package.json
  src/frontend/src/components/add-contact/AddContact.js
  src/frontend/src/components/contacts/Contacts.js
  src/frontend/src/components/customers/Customers.js
  src/frontend/src/components/edit-contact/EditContact.js
  src/frontend/src/components/feedback/Feedback.js
  src/frontend/src/components/home/Home.js
  src/frontend/src/index.css
  src/frontend/yarn.lock
Labels: (⌐■_■)ノ＼(■_■ ), IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), enhancement, front-end, javascript, react

#142 📦 🎁 😄 Hey what's my order status ? 📦 🎁 😄
  src/backend/quarkus-management-api/management-api.yaml
  src/backend/quarkus-management-api/pom.xml
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/common/QueryHelpers.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/contact/ContactsServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/order/OrderDto.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/order/OrderRepository.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/order/OrderService.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/order/OrderServiceImpl.java
  src/backend/quarkus-management-api/src/main/java/com/nttdata/quarkus/management/api/order/OrdersApiImpl.java
Labels: QUARK! 🖖🏽, 🦆 Quarkus

#144 Adding countries table component
  src/frontend/src/components/countries/Countries.js
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), :label: label, IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ)

#146 Adding orders
  src/frontend/src/App.js
  src/frontend/src/components/composite/feedback/Feedback.css
  src/frontend/src/components/composite/feedback/Feedback.js
  src/frontend/src/components/composite/simple-modal/SimpleModal.css
  src/frontend/src/components/composite/simple-modal/SimpleModal.js
  src/frontend/src/components/contacts/Contacts.js
  src/frontend/src/components/countries/Countries.js
  src/frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/src/components/page/add-contact/AddContact.js
  src/frontend/src/components/page/contacts/ContactList.js
  src/frontend/src/components/page/contacts/Contacts.css
  src/frontend/src/components/page/contacts/Contacts.js
  src/frontend/src/components/page/countries/Countries.js
  src/frontend/src/components/page/customers/Customers.js
  src/frontend/src/components/page/edit-contact/EditContact.css
  src/frontend/src/components/page/edit-contact/EditContact.js
  src/frontend/src/components/page/home/Home.js
  src/frontend/src/components/page/orders/Orders.js
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), react

#149 Login button for auth, homepage unprotected & others protected
  src/frontend/src/App.js
  src/frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/src/components/page/home/Home.js
Labels: (⌐■_■), (⌐■_■)ノ＼(■_■ ), IT'S WORKING ┬─┬﻿ ノ( ゜-゜ノ), enhancement, front-end, javascript, keycloak, react

#150 Refactoring Login Flow and Auth Guard
  src/frontend/src/App.js
  src/frontend/src/components/hoc/AuthenticationGuard.js
  src/frontend/src/components/page/contacts/Contacts.js
  src/frontend/src/components/page/countries/Countries.js
  src/frontend/src/components/page/orders/Orders.js
Labels: (⌐■_■)ノ＼(■_■ ), MORE THAN MEETS THE EYE :robot:, enhancement, front-end, javascript, react
